.day{
    font-weight: bold;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
}
.month{
    font-weight: bold;
    display: flex;
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    padding: 5px;
    justify-self: center;
}
.year{
    font-weight: normal;
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
}