* {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

.expense-item {
    background-color: burlywood;
    width: 500px;
    display: flex;
    justify-content: space-between;
    border: 0px solid rgb(174, 106, 53);
    margin: 5px;

}
.expense-item_date {
    display: block;
    left: 0px;
    background-color: blanchedalmond;
    width: 100px;
    border-radius: 5px;
    padding: 3px;
    border: 0px solid rgb(174, 106, 53);
}

.expense-item_description h2{
    background-color: blanchedalmond;
    border-radius: 5px;
    border: 0px solid blanchedalmond;
    display: flex;
    font-size: medium;
    font-style: normal;
    font-weight: 400;
    padding: 5px;
}